@using BlazorApp2.Components.ReusableElements

<footer>
    <div class="footerSection Name">
        Wyatt Sanders |
    </div>
    <div class="footerSection Navigation">
    </div>
    <div class="footerSection ContactMe">
        <h4>Contact Me</h4>
        <ContactButtons></ContactButtons>
    </div>
</footer>

@code {

}
