@using BlazorApp2.Components.ReusableElements

<footer>
    <div class="footerSection Name">
        <h1>
            Wyatt Sanders
            <div class="footer-dividing-line"></div>
        </h1>
    </div>
    <div class="footerSection ResumeFooterSection">
        <h4>Resume</h4>
        <div class="my-resume-button">
            <HyperlinkButtonLogo Hyperlink="https://drive.google.com/file/d/1bm4Vwtk8o6wn_HDoRKwNAUYWCL4aa-cv/view?usp=drive_link" ButtonText="Resume" ButtonIconPath="SVGs/resume.svg" />
        </div>
    </div>
    <div class="footerSection ProjectNavigation">
        <h4>Projects</h4>
    </div>
    <div class="footerSection GamesNavigation">
        <h4>Web Games</h4>
    </div>
    <div class="footerSection ContactMe">
        <h4>Contact Me</h4>
        <ContactButtons></ContactButtons>
    </div>
</footer>

@code {

}
