.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    min-height: 3.5rem;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.headerSection {
    height:100%;
    display: flex;
    width: 50%;
    position: relative;
}

.Left {

}

.Right {

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}
