

<div class="navHeader">
    <div class="my-nav-toggle-background" style="background:@backgroundColor;">
        <input @onclick="toggleExpandNav" class=" my-navbar-toggler" type="checkbox" />
    </div>
    <h1>@PageTitle</h1>
</div>
<div class="nav-scrollable" style="display:@expandNav;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public required string PageTitle { get; set; }

    private string expandNav = "none";
    private string backgroundColor = "transparent";

    private void toggleExpandNav()
    {
        expandNav = expandNav.Equals("none") ? "block" : "none"; 

        backgroundColor = expandNav.Equals("none") ? "transparent" : "#666";
        StateHasChanged();
    }
}