
* {
    text-align: center;
    z-index: 1;
}

section {
    padding-top: 1rem;
    background: #fff;
}

img {
    width: 100px;
    height: 100px;

}

h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}
.about-me-heading-main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}

.about-me-heading-main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: blue;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}


p {
    text-align: center;
    color: #666;
    max-width: 60rem;
    margin-bottom: 1rem;
}

p a {
    text-decoration: underline;
    color: #0a66c2;
    margin: 0 3px;
}



h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-weight: 500;
}

.about-me-content {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.skill-column {
    align-items:center;
    justify-content: center;
    margin: 0;
    border: 0;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    vertical-align: baseline;
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
    border-right: 0px solid #E6ECF8;
}

.double-wide {
    flex-basis: 1;
    flex-grow: 2;
}


@media screen and (min-width: 900px) 
{
    .about-me-content {
        display: flex;
    }
    .skill-column {
        border-bottom: 0px solid #E6ECF8;
        border-right: 1px solid #E6ECF8;
        padding: 60px 35px;
    }
}
