@using BlazorApp2.Components.ReusableElements
<section id="Projects">
    <div class="content">
        <div class="project-column">
            <h3 class="header-text weight-heavy">My Latest Projects</h3>
            <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/TowerRush.jpg" />
        </div>
        <div class="project-column">
            <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/Singularity.jpg" />
        </div>
        <div class="project-column">
            <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/Prayr.png" />
            <div class="my-resume-button">
                <HyperlinkButtonLogo Hyperlink="https://drive.google.com/file/d/1bm4Vwtk8o6wn_HDoRKwNAUYWCL4aa-cv/view?usp=drive_link" ButtonText="Printable Resume" ButtonIconPath="SVGs/resume.svg" />
            </div>
        </div>
    </div>
</section>


@code {
}
