@using BlazorApp2.Components.ReusableElements
<section id="Projects">
    <div class="project-column">
        <h3 class="header-text weight-heavy">My Latest Projects</h3>
        <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/TowerRush.webp" />
    </div>
    <div class="project-column">
        <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/Singularity.jpg" />
    </div>
    <div class="project-column">
        <FeaturedProject Title="Title" ProjectImage="Images/FeaturedProjects/Prayr.webp" />
    </div>
</section>


@code {
}
