@using BlazorApp2.Components.ReusableElements
@using BlazorApp2.Models;

<section>
    <ul>
        @if (ProjectKeyList is null)
        {
            <p><em>loading ...</em></p>
        }
        else
        {
            foreach (string projectkey in ProjectKeyList)
            {
                @if (!(ProjectData.projectsToSkills.ContainsKey(projectkey) && ProjectData.ImgProjectsToDescriptions.ContainsKey(projectkey)))
                {
                    continue;
                }
                <li>
                    <ProjectImageCard SkillList=ProjectData.projectsToSkills[projectkey]
                                      title=@ProjectData.ImgProjectsToDescriptions[projectkey].DisplayName ImgSource=@ProjectData.ImgProjectsToDescriptions[projectkey].DisplayImg ImgCaption=@ProjectData.ImgProjectsToDescriptions[projectkey].Caption />
                </li>
            }
        }
    </ul>
</section>

@code {
    [Parameter]
    public required List<string> ProjectKeyList { get; set; }


    List<Skill> SkillList = new List<Skill>
    {
        Skill.Cplusplus,Skill.Lua,Skill.AgileDevelopment
    };

    private string title = "Tester Project";

}
