@using BlazorApp2.Components.ReusableElements
@using BlazorApp2.Models;

<section>
    @if (ProjectKeyList is null)
    {
        <p><em>loading ...</em></p>
    }
    else
    {
        foreach (string projectkey in ProjectKeyList)
        {
            <ProjectImageCard SkillList=SkillList title=title />
        }
    }

</section>

@code {
    [Parameter]
    public required List<string> ProjectKeyList { get; set; }


    List<Skill> SkillList = new List<Skill>
    {
        Skill.Cplusplus,Skill.Lua,Skill.AgileDevelopment
    };

    private string title = "Tester Project";

}
