section {
    padding: 5rem 60px 1rem 60px;
    background-color: #fff;
}

ul {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;

    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:40px;
}