@using BlazorApp2.Components.ReusableElements

<section>
    @if (ProjectKeyList is null)
    {
        <p><em>loading ...</em></p>
    }
    else
    {
        foreach (string projectkey in ProjectKeyList)
        {
            <ProjectImageCard />
        }
    }

</section>

@code {
    [Parameter]
    public required List<string> ProjectKeyList { get; set; }

}
