@using BlazorApp2.Components.ReusableElements.Carousel
@using BlazorApp2.Models;
@using Models.ComponentModels
@using BlazorApp2.Components.Layout.ProjectLayout;

<section>
    @if (testimonials is null || carouselModel is null)
    {
        <p><em>loading ...</em></p>
    }
    else
    {
        <div class="project-content">
            <div class="project-column double-wide">
                <h2 class="subheader-text weight-heavy">My Project</h2>
                <p class="body-text">
                    @testimonials[carouselModel.ActiveIndex].Quote
                </p>
                <SkillsDisplay SkillList=@SkillList></SkillsDisplay>
            </div>
            <div class="project-column wide-screen">
                <CarouselTitleSelector PageTitles=@projectTitles carousel=@carouselModel />
            </div>
        </div>
        <img class="left" />
        <div class="narrow-screen">
            <CarouselDotSelector carousel=@carouselModel />
        </div>
        <img class="right" />
    }
</section>

@code {
    List<Skill> SkillList = new List<Skill>
    {
        Skill.Cplusplus,Skill.Lua,Skill.AgileDevelopment
    };

    //TODO section Height
    Carousel? carouselModel;

    private List<string> projectTitles = new List<string> { "Project 1", "Project 2" };
    private List<Testimonial>? testimonials;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        testimonials = Testimonials.GetTestimonialList();
        carouselModel = new Carousel(testimonials.Count, OnCarouselUpdate);
    }

    private void OnCarouselUpdate()
    {
        StateHasChanged();
    }


}
