section {
    padding-top: 5rem;
    background-color: #f0f3f4;
    min-height: 90vh;
}

.project-content {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.project-column {
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    vertical-align: baseline;
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
    border-right: 0px solid #E6ECF8;
}
menu {
    display: flex;
    flex-direction: column;
    padding:0;
    width:100%;
}

    

button.carosel-word {
    text-decoration: none;
    background: none;
    border: none;
    color: #000;
    line-height: 3rem;
    min-height: 3rem;
    transition: transform 0.25s ease, padding-left .25s ease-in-out;
    background-color: transparent;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,.25);
    width: 100%;
    text-align: left;
}
    button.carosel-word:last-child {
        border-bottom: none;
    }

button.carosel-word-active {
    color: orange;
}

    button.carosel-word:hover {
        padding-left: 20%;
        transform: scale(1.06);
        text-decoration: none;
        outline: 0;
        color: black;
    }

.double-wide {
    flex-basis: 1;
    flex-grow: 2;
}

.wide-screen {
    display:none;
}
.narrow-screen {
    display:flex;
}

@media screen and (min-width: 900px) {
    .project-content {
        display: flex;
    }

    .project-column {
        border-bottom: 0px solid #E6ECF8;
        border-right: 1px solid #E6ECF8;
        padding: 60px 35px;
    }

    .wide-screen {
        display: flex;
    }
    .narrow-screen {
        display: none;
    }
}