@page "/falter"

<body>
    <div class="plx-image1">
    </div>
    <div class="content-1">
        <div class="text3">Falter Game Project</div>
        <div class="text4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
    <div class="plx-image2"></div>
    <div class="content-2">
        <div class="text5">Temp</div>
    </div>
</body>



@code {

}
