@page "/SecretPage"

<h3 class="header-text weight-heavy">ha ha, well done you found the secret page!</h3>

<img src="images/SecretPage.jpg" />

<p class="secondary-text">Photo by <a href="https://martinvorel.com/">Martin Vorel</a></p>
@code {

}
