@page "/List"
@using BlazorApp2.Models
@rendermode InteractiveServer

<PageTitle>Game Catalog</PageTitle>


<h3>Component</h3>

<h1> Game Catalog</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genera</th>
        <th>price</th>
        <th>Release Date</th>
    </thead>
    <tbody>

    </tbody>
</table>

@code {
    private List<ListItem> games = new List<ListItem>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        //test data
        games.Add(new ListItem
            {
                Id = 1,
                Name = "Street Fighter II",
                Genere = "Fighting",
                Price = 19.99M,
                ReleaseDate = new DateTime(1991,2,1)
            });

    }
}
