<section>
    <header>
        @Title
        @Skills
    </header>
    <div class="brief">
        @Brief
    </div>
    <div>
        @DescriptionContent
    </div>
    @if (!(ProjectPageLinkButton is null))
    {
        <div class="ButtonContainer">
            @ProjectPageLinkButton
        </div>
    }
</section>

@code {
    [Parameter]
    public RenderFragment? Title { get; set; }

    [Parameter]
    public RenderFragment? Skills { get; set; }
    
    [Parameter]
    public RenderFragment? Brief { get; set; }
    
    [Parameter]
    public RenderFragment? DescriptionContent { get; set; }

    [Parameter]
    public RenderFragment? ProjectPageLinkButton { get; set; }

}
