

.ProjectPage {
    margin: 0;
    background-color: #f7f7f7;
    min-height: 100%;
    padding: 0;
}
main {
    text-shadow: none;
    margin-top: 0;
    padding: 0;
    width: 85%;
    max-width: 80rem;
    position: relative;
    margin: 3em auto 2em;
    box-sizing: border-box;
    min-height: 100%;
    display: block;
    display: table;
    clear: both;
}