@using BlazorApp2.Components.ReusableElements
@using BlazorApp2.Models;


@if (SkillList is null)
{
    <p><em>loading ...</em></p>
}
else
{
    <p class="subheader-text weight-light">
        @foreach(Skill skill in SkillList)
        {
            @if (skill == Skill.None)
            {
                continue;
            }
            <ProjectSkill isfirst=@isFirst SkillEntry=@skill></ProjectSkill>
            isFirst = false;
        }
    </p>
}

@code {

    [Parameter]
    public required List<Skill> SkillList { get; set; }

    private bool isFirst = true;
}
