@page "/counter"
@rendermode InteractiveServer
@using BlazorApp2.Models

<PageTitle>Click Counter Game</PageTitle>
<header>
    <h1>Click Counter Game</h1>
</header>
<CounterGameView/>

@code {

    CounterGameModel gameModel = CounterGameModel.Instance;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        gameModel.StartGame();
    }
}

