<article id="Prayr">
    <div>
        <h3>Prayr</h3>
        Collaborated via GitLab and ClickUp 
        group chat, memberships, real time notifications, firebase analytics
         third-party APIs and integrated SDKs

         Engaged in daily Scrum meetings with cross-functional team, using ClickUp for task tracking and Slack for collaborative problem-solving
    </div>
    <div>
       <img src="Images/FeaturedProjects/Prayr.webp"/>
    </div>
</article>
@code {

}
