<article id="TowerRush">
    <h3>TowerRush</h3>
    Implemented UI systems, managed assets, and resolved player input across networking API, while also creating 
    Unity C# testing tools for one-click, isolated testing, swift balance iteration, and reliable source code

    Contributed ideas and thought provoking questions to game design discussions and world building meetings.
    <section></section>

</article>



@code {

}
