@page "/resume"
@using BlazorApp2.Components.Pages.Resume.Button
@using BlazorApp2.Components.Pages.Resume.CircleImage

<h3>ResumePage</h3>

<div class="background">
    <div class="container">
        <CircleImage ImageSource="images/WyattHeadshot.jpg" AltDisplayText="Wyatt Sanders's Profile Photo" />
        <h2 class="texth2">
            <strong>Contact Info</strong>
        </h2>
        <p class="textlight">
            Interested in connecting with me to talk about games? Reach out and email me or connect on Discord or LinkedIn!
        </p>
        <ul class="buttons">
            <li>
                <HyperlinkButtonLogo Hyperlink="mailto:wksnders@gmail.com" ButtonText="Email" ButtonIconPath="SVGs/email.svg" />
            </li>
            <li>
                <HyperlinkButtonLogo Hyperlink="https://drive.google.com/file/d/1bm4Vwtk8o6wn_HDoRKwNAUYWCL4aa-cv/view?usp=drive_link" ButtonText="Resume" ButtonIconPath="SVGs/resume.svg"/>
            </li>
            <li>
                <HyperlinkButtonLogo Hyperlink="https://www.linkedin.com/in/wyatt-sanders/" ButtonText="LinkedIn" ButtonIconPath="SVGs/linkedin.svg" />
            </li>
            <li>
                <HyperlinkButtonLogo Hyperlink="https://discordapp.com/users/216400302553694209" ButtonText="Discord" ButtonIconPath="SVGs/discord.svg" />
            </li>
        </ul>
    </div>
</div>

                        

@code {

}
