body {
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: list-item;
    max-width: 100%;
}

.buttons {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 1rem;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: default;
    display: flex;
    justify-content: center;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}



.textlight {
    text-align: center;
    color: rgba(0,0,0,0.639);
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.75;
    font-weight: 400;
    word-wrap: break-word;
}

.texth2 {
    text-align: center;
    color: rgba(0,0,0,0.639);
    font-family: Arial, sans-serif;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 1.875em;
    line-height: 1.25;
    font-weight: 400;
}

.container {
    text-align: center;
    padding: 2rem 2rem;
}

.background {
    display: inline-block;
    background-color: lightgray;
    border-color: rgba(0,0,0,0.922);
    border-style: solid;
    border-width: 2px;
    border-radius: 2.375rem;
}
