@inherits LayoutComponentBase
@using BlazorApp2.Components.Layout.commonLayout

<div class="page">
    
    <div>
        <img src="images/Trees.png" class="foreground">
    </div>
    <PageLayout>
        <Body>
            @Body
        </Body>
    </PageLayout>
</div>

<Error />
