@inherits LayoutComponentBase
@using BlazorApp2.Components.Layout.commonLayout

<div class="page">
    
    <HeroSection></HeroSection>
    <PageLayout>
        <Body>
            @Body
        </Body>
    </PageLayout>
</div>

<Error />
