@using BlazorApp2.Components.Layout.commonLayout
@inherits LayoutComponentBase

<div class="page">
    <PageLayout>
        <Body>
            @Body
        </Body>
    </PageLayout>
</div>

<Error />
