<div class="wrapper">
    <h1>bindCSSVariableToCSharp</h1>
    <label>Width</label>
    <input @bind-value="@width" />
    <p class="example" style="--my-width: @width">My Width is @width</p>
<div/>

@code {
    string width = "100px";
}
