

@media(prefers-reduced-motion: no-preference) {
    img {
        scale: .8;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }


    @keyframes fade-in {
        to { scale: 1; opacity: 1; }
    }
}
