<section>
    <img src="images/Mountain.png" class="background">
    <img src="images/Trees.png" class="foreground">
    <div>
        <h1 class="title">Welcome!</h1>
        <h3 class="quotes">"@Quotes[0]"</h3>
    </div>
</section>
@code {
    List<string> Quotes = new List<string> { "this is a test quote! look at how long I can make it" };
}
