@inherits LayoutComponentBase
@using BlazorApp2.Components.Layout.commonLayout

<div class="page">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <main>
        <HeaderBase>
            <Left>
                <h1>Wyatt Sanders</h1>
            </Left>
            <Right>

            </Right>
        </HeaderBase>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Error />
