@using BlazorApp2.Components.Layout.commonLayout
@inherits LayoutComponentBase

<div class="page">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <HeaderBase>
        <Left>
            <h1>Wyatt Sanders</h1>
        </Left>
        <Right>

        </Right>
    </HeaderBase>
    @Body
    <!--
    <main>
        <article class="content px-4">
        </article>
    </main>
    -->
</div>

<Error />
