@page "/CS/3WayMerge"

<h3>3 Way Merge Project</h3>
<div></div>
<img class="left" src="images/CSProjects/3WayMerge.png">
<p>
    In my favorite assignment of this semester, we were tasked to create two implementations of the merge sort algorithm without recursion. The usual way of merging two sorted lists and an unconventional way that merged 3 lists at once.
</p>
<p>
    This was a Great lesson in writing clean code, commenting, variable names and code re-use. The solution requires a lot of comparisons and keeping track of variables for each list.
</p>
<img class="right" src="images/CSProjects/3WayMergeCode.png">
<p>
    I wrote good method headers and comments, but my comparison tests ended up as a bit of a mess and had to be explained with comments.  Learning to split the work into more helper functions to help both readability and code re-use was my key take away from this project.
</p>
   

@code {

}
