
<section>
    <h2>"The card game of total control. Every decision - and accompanying consequence - is your own."</h2>

    Stop waiting for the perfect draw and join me for a new type of card game with <strong>no randomness.</strong> play your deck in the order you decide, and pull off your favorite combos every single game.
    Dive into intense 1v1 duels, strategic team battles, chaotic free-for-alls, or thrilling cooperative and solo boss incursions.
</section>

<section>
    <h2>Roles and Contributions:</h2>
    Game Programmer: Designed, scripted, and tested improvements to Singularity gameplay on Tabletop Simulator using Lua.
    Game Designer: Playtested, created, and iterated on expansions and co-op content. Assisted in polishing the core set.
</section>

refined designs through simplification and goal-oriented evaluation

sketched wireframes inspired by successful implementations in other Tabletop Simulator games
Iteratively refined automation mechanics, adapting the experience to match the expectations and habits of Tabletop Simulator users

Garnered enthusiastic support from over 1,000 backers on Gamefound.
Successfully facilitated the first official Singularity tournament via Tabletop Simulator.

<section>
    <div class="Links">
        <a href="https://gamefound.com/en/projects/octothorpe/singularityexe">Gamefound Page</a>
        <a href="https://www.playsingularity.com/">Official Website</a>
        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2968522499">Play Now on Tabletop Simulator</a>
    </div>
</section>

Let’s Connect!
Thank you for reviewing my work on Singularity! For more details or to discuss potential collaborations, feel free to reach out to me using the buttons below.


@code {

}
