<section>
    <h3>
        <span class="about-me-heading-main">AboutMe</span>
        <span class="about-me-heading-sub">AboutMe</span>
    </h3>
    <div class="about-me-content">
        <div class="skill-column">
            <h1>Full Stack Developer</h1>
            <p>this is some place holder text :)</p>
        </div>
        <div class="skill-column">
            <h1>Game Designer</h1>
            <p>this is some place holder text :)</p>
        </div>
    </div>
</section>


@code {

}
