
.about-me-content {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

.skill-column {
    margin: 0;
    border: 0;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    vertical-align: baseline;
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
    border-right: 0px solid #E6ECF8;
}

@media screen and (min-width: 769px) 
{
    .about-me-content {
        display: flex;
    }
    .skill-column {
        border-bottom: 0px solid #E6ECF8;
        border-right: 1px solid #E6ECF8;
        padding: 60px 35px;
    }
}
