
@using BlazorApp2.Components.ReusableElements
@using BlazorApp2.Models;
<section>
    <h1>
        <span class="about-me-heading-main">About Me</span>
    </h1>
    <div class="about-me-content">
        <div class="skill-column">
            <h2>
                Hi, I'm Wyatt!
            </h2>

            <CircleImage ImageSource="images/WyattHeadshot.jpg" AltDisplayText="Wyatt Sanders's Profile Photo" />
            <p>
                I'm a <strong>Full Stack Developer and Game Maker</strong>, I craft engaging experiences and applications
                to address contemporary challenges.
                Explore my projects in the <strong>Projects</strong> section or by selecting a specific <strong>skill set</strong>.
            </p>
            <p>
                Connect with me on
                <a rel="noreferrer" href="https://www.linkedin.com/in/wyatt-sanders/" target="_blank">LinkedIn</a>
                to stay updated. I'm actively seeking <strong>job opportunities</strong> where I can contribute, learn, and grow. If you have such an opportunity, feel free to reach out — I'd love to have a chat!
            </p>
        </div>
        <div class="skill-column">
            <img src="svgs/terminal.svg" alt="Programmer Icon" />
            <h3>Full Stack Developer</h3>
            <h4>Skills</h4>
            <SelectableSkills SkillList="@SkillListProgramming" />
        </div>
        <div class="skill-column">
            <img src="svgs/game-development-icon.svg" alt="Game Developer Icon" />
            <h3>Game Designer</h3>
            <h4>Skills</h4>
            <p>click on a skill to see projects where i used that skill :) </p>
            <SelectableSkills SkillList="@SkillListGames"/>
        </div>
    </div>
</section>


@code {
    List<Skill>? SkillListGames, SkillListProgramming;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SkillListGames = SkillModel.SkillsByCategory["Software Engineering Practices"];
        SkillListProgramming = SkillModel.SkillsByCategory["Software Engineering Practices"];
    }
}
