@using BlazorApp2.Models
<h3>SelectableSkills</h3>

<menu>
    @foreach (KeyValuePair<Skill,string> skill in SkillModel.SkillsToDisplayString)
    {
        @if (skill.Key == Skill.None)
        {
            continue;    
        }

    }
</menu>

@code {
    
}
