
@using Models.ComponentModels

<div class="carosel-page-selector">
    @for (int i = 0; i < carousel.NumPages; i++)
    {
        int temp = i;
        <button class="carosel-dot @(i == carousel.ActiveIndex?"carosel-dot-filled":"")" onclick="@(()=>carousel.SetCaroselIndex(temp))"></button>
    }
</div>

@code {
    [Parameter]
    public required Carousel carousel { get; set; }
}
