<a class="project-container" href="">
    <div class="project-info">
        <h2 class="subheader-text weight-heavy">Title</h2>
        <span class="body-text">see more</span>
    </div>
    <img src="Images/FeaturedProjects/Singularity.jpg" />
</a>

@code {


    [Parameter]
    public required string Title { get; set; }
}
