<div class="project-container">
    <div class="project-info">
        <h2 class="subheader-text weight-heavy">Title</h2>
        <button>see more</button>
    </div>
    <img src="Images/FeaturedProjects/Singularity.jpg" />
</div>

@code {


    [Parameter]
    public required string Title { get; set; }
}
