<section>
    <ul>
        @foreach (RenderFragment item in ListItems)
        {
            <li>
                @item
            </li>    
        }
    </ul>
</section>

@code {
    [Parameter]
    public required List<RenderFragment> ListItems { get; set; }

}
