<figure>
    <img class="background" src="Images/SecretPage.jpg">
    <div class="background overlay"></div>
  <figcaption >
      <h3 class="secondary-subheader-text">This is some Testing Text</h3>

  </figcaption>
</figure>

@code {

}
