li.project-card {
    border-radius: 18px;
    box-shadow: 0 3px 40px #0000001a;

    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.img-container {
    position: relative;
    clip-path: polygon(0 0, 100% 0,100% 85%,50% 100%, 0 85%);
}

.text-container {
    background-color: #f0f3f4;
}
