@using BlazorApp2.Models;

@if (!isfirst)
{
    <span> | </span>
}
@DisplaySkillString


@code {

    [Parameter]
    public Skill SkillEntry { get; set; }
    [Parameter]
    public bool isfirst { get; set; }

    private string DisplaySkillString = "...";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DisplaySkillString = SkillModel.GetDisplayStringForSkill(SkillEntry);
    }
}
