li.project-card {
    border-radius: 18px;
    box-shadow: 0 3px 40px #0000001a;

    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.img-container {
    aspect-ratio: 4 / 3;
    position: relative;
}

.text-container {
    background-color: #f0f3f4;
}
