h2 {
    margin: 0 0 0.25rem;
    font-family: open sans,sans-serif;
    line-height: 1;
    font-size: 1.5em;
    clear: both;
    box-sizing: border-box;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: #5d5d5d;
}
