
@using BlazorApp2.Models;

<li class="project-card">
    <div class="img-container">
        <div class="img-clip-mask">
            <ImgWithHoverCaption ImgSource=@ImgSource ImgCaption=@ImgCaption></ImgWithHoverCaption>
        </div>
        <span class="body-text">see more</span>
    </div>
    <div class="text-container">
        <ProjectTitle Title=@title></ProjectTitle>
        <SkillsDisplay SkillList=@SkillList></SkillsDisplay>
    </div>
</li>
                

@code {
    [Parameter]
    public required string title { get; set; }
    [Parameter]
    public required List<Skill> SkillList { get; set; }
    [Parameter]
    public required string ImgSource { get; set; }
    [Parameter]
    public required string ImgCaption { get; set; }
}
